* {
    font-family: 'Parisienne', cursive;
}

body {
    margin: 0;
}

#content {
    height: 100vh;
    background-image: url('./restaurant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 4.5em;
    margin: 0.2em 0 0 1em;
    width: fit-content;
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255, 0.7);
    padding: .1em .2em;
}

header {
    margin-top: 2.5em;
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1;
    width: fit-content;
    align-self: flex-end;
}

header ul {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0 5em 0 0;
}

header ul li {
    padding: 1em;
}

header ul li a {
    font-family: 'IM Fell French Canon', serif;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 2em;
    font-family: 'IM Fell French Canon', serif;
    align-self: center;
    width: fit-content;
    bottom: 10vh;
    position: absolute;
}