html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
    font-family: 'Parisienne', cursive;
}

body {
    margin: 0;
}

#content {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

h1 {
    font-size: 4.5em;
    margin: 0 0 0 5vw;
    width: fit-content;
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255, 0.7);
    padding: .1em .2em;
    top: .2em;
}

header {
    top: 4.2rem;
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1;
    width: fit-content;
    align-self: flex-end;
}

header ul {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0 5em 0 0;
}

header li {
    padding: 1em;
}

header a {
    font-family: 'IM Fell French Canon', serif;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

header li:hover > a {
    color: rgb(100, 100, 100);
}

#home-description {
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 2em;
    font-family: 'IM Fell French Canon', serif;
    align-self: center;
    width: fit-content;
    top: 10em;
    position: absolute;
}

#menu-container {
    background-color: rgb(255, 255, 255, 0.7);
    height: 70vh;
    width: 90%;
    align-self: center;
    position: absolute;
    top: 10em;
    overflow: auto;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    padding: 0 1em;
}

#menu-container section {
    padding: 1em;
}

#menu-container section p, .contact-item {
    font-family: 'IM Fell French Canon', serif;
}

#contact-container {
    background-color: rgb(255, 255, 255, 0.7);
    align-self: center;
    margin: auto;
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.contact-item {
    margin: 0.5em 0;
    font-size: 1.3em;
}

#contact-container section {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    width: fit-content;
}

#contact-container i {
    align-self: center;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

#contact-hours {
    text-align: center;
}

#contact-info {
    justify-content: space-evenly;
}

#contact-info div {
    display: flex;
}

#contact-info span {
    margin: 0 0 0.5em 0.5em;
}

@media (max-width: 1000px) {
    #contact-container section {
        margin: 2em auto;
    }

    #contact-container {
        flex-direction: column;
        margin-top: 12em;
        margin-bottom: 2em;
    }
}